{% extends 'base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block content %}
<div class="container px-0 mt-4">
    <div class="card mx-auto" style="width: 40em;">
        <div class="card-body">
            <h4 class="card-title">Новый рапорт</h4>
            <form method="POST" id="createRaportForm" enctype="multipart/form-data">
                {% csrf_token %}
                {% for form_field in form %}
                <div class="mb-3">
                    <label class="form-label">{{form_field.label_tag}}</label>
                    {% render_field form_field %}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Создать">
            </form>
        </div>
    </div>
</div>



{% endblock content %}