{% extends 'base.html' %}
{% load static %}
{% load get_verbose_name %}
{% load possible_actions %}
{% load has_group %}

{% load widget_tweaks %}
{% block content %}
<div class="alert alert-danger align-items-center alert-dismissible fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div id="AlertText">
    An example danger alert with an icon
  </div>
    <button type="button" class="btn-close" onclick="hideAlert()" aria-label="Close"></button>
</div>

<div class="container px-0 mt-4">
    <div class="row">
        <div class="col-8">
            <div class="card" xmlns="http://www.w3.org/1999/html">
                <div class="card-body">
                    <h1>Рапорт №{{ object.pk }}</h1>  <a href="{% url 'raports:download_pdf' object.pk %}" target="_blank" rel="noopener noreferrer">печатная форма</a><br>
                    <b>{{ object|verbose_name:'creator'}}: </b>
                    <small>{{ object.creator }}</small><p/>
                    <b>{{ object|verbose_name:'tags'}}: </b>
                    {% for tag in object.tags.all %}
                    <small>{{ tag.name }}, </small>
                    {% endfor %}<p/>
                    <small>{{ object.text }}</small><p/>
                    <small>{{ object.justification }}</small><p/>
                    <b>{{ object|verbose_name:'price'}}: </b>
                    <small>{{ object.price }}р.</small><p/>
                    {% if object.one_time %}
                    <b>{{ object|verbose_name:'one_time'}}&emsp; </b>
                    {% endif %}
                    <b>{{ object|verbose_name:'status'}}: </b>
                    <small>{{ object.status.verbose_name }}</small></p>
                    <b>{{ object|verbose_name:'files'}}:</b></p>
                    {% for file in object.files.all %}
                    <a href="{{file.file.url}}" target="_blank" rel="noopener noreferrer">{{file.filename}}</a><br>
                    {% endfor %}
                </div>
            </div>
            {% if object.status.status in 'in_purchasing_department_1,in_purchasing_department_2' %}
            <form id="addFilesForm">
                {% include "additional_pages/add_files_form.html" %}
            </form>
            {% endif %}
            {% if object.status.status in 'at_economist_1,at_economist_chief' %}
            <form id="sourcesOfFundingForm">
                {% include "additional_pages/sources_of_funding_form.html" %}
            </form>
            {% endif %}
            {% if object.status.status not in 'rejected,done' %}
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="btn-group">
                {% get_buttons request.user object.status as permission %}
                    {% for name,link in permission.items %}
                            <button class="btn btn-outline-primary" onclick="execute_command('{{link}}', {{object.pk}})">{{name}}</button>
                    {% endfor %}
                </div>
            </footer>
            {% endif %}
        </div>


        <div class="col">
            <div class="card myTitle" onclick="hideShow()">
                <div class="card-title">
                    <h4>{{ object|verbose_name:'history'}}</h4>
                </div>
                <div class="card-body">
                    {% for status in object.history.all %}
                    {% if forloop.first %}
                    <small>{{status.user}} {{status.action.verbose_name}} {{status.action_date}}</small></p>
                    {% else %}
                    <small class="hiddenElement">{{status.user}} {{status.action}} {{status.action_date}}</small></p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" data-bs-backdrop="static" aria-hidden="true" id="UpdateModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="UpdateModalBody">
            {% include "additional_pages/modal_of_curator_groups.html" %}
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" data-bs-backdrop="static" aria-hidden="true" id="PurchasersModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="PurchasersModalBody">
            {% include "additional_pages/modal_of_purchasing_specialists.html" %}
        </div>
    </div>
</div>

<script type="text/javascript" src={% static 'raports/js/details.js' %}></script>
<script>
    let my_pk = {{object.pk}}
</script>
{% endblock content %}