{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'reports/css/bootstrap.min.css' %}">

    <title>Рапорты</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">КГБУЗ ККБ №1</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <a href="{% url 'users:login' %}" class="btn btn-primary me-2">Вход</a>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} mx-auto" style="width: 40rem;" role="alert">
            <b>{{message}}</b>
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>